@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #ced4da;
}
::-webkit-scrollbar-track {
  background-color: #e9ecef;
}

.MuiPopper-root.MuiPickersPopper-root {
  z-index: 3000 !important;
}

.MuiDialog-root.MuiModal-root {
  z-index: 4000 !important;
}

.MuiInputBase-input {
  font-size: 14px !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
  height: 36px !important;
}

.no-highlight {
  outline: none !important;
}
.no-highlight:focus {
  outline: none !important;
}
